.pb-10 {
  padding-bottom: 10px;
}

.order-status-tabs {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  gap: 20px;
}

.order-status-tabs button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #202020;
  color: #fff;
  cursor: pointer;
}

.order-status-tabs button.active {
  background-color: #c0ff01;
  color: #111;
}


.order {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}
.two_user .txt1, .txt2 {
    margin: 0px 10px;
    font-size: 20px;
}
.two_user {
    border: 1px solid #c0ff01;
    border-radius: 5px;
    padding: 10px 0;
}
.two_user .txt2 strong {
  padding-bottom: 10px;
}
.tovari_orders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  place-items: center;
  padding-bottom: 10px;
}
.card_tovara_orders {
  gap: 10px;
  border: 1px solid #c0ff01;
  width: 345px;
  border-radius: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.card_tovara_orders .button_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.card_tovara_orders .button_card button {
  width: 100%;
}
.card_tovara_orders .button_card button:first-child {
  border: 1px solid #e70000;
  color: #e70000;
}
.card_tovara_orders .button_card button:first-child::before {
  background-color: #e70000;
}
.card_tovara_orders .button_card button:first-child:hover {
  color: #111;
}
.card_tovara_orders .name_price_bue {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
}
.fs-10 {
  font-size: 20px;
}
.card_tovara_orders .name_price_bue div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: #c0ff01;
}
.card_tovara_orders .name_price_bue div button {
  background: none;
  border: 1px solid #c0ff01;
  padding: 5px 20px;
  color: #c0ff01;
  border-radius: 20px;
  font-size: 18px;
  color: #c0ff01;
}
.card_tovara_orders .open_conf {
  display: none;
  background-color: #111;
  border: none;
}
.card_tovara_orders .open_conf img {
  width: 60px;
}
.card_tovara_orders img {
  width: 305px;
}
.card_tovara_orders .konfi {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card_tovara_orders .konfi .konfiguration {
  border-radius: 20px;
  font-size: 16px;
  width: 305px;
  height: 55px;
  display: flex;
  background-color: #202020;
  color: #fff;
  align-items: center;
  gap: 25px;
}
.card_tovara_orders .konfi .konfiguration div div:first-child {
  color: #9B9B9B;
}
.card_tovara_orders .konfi .konfiguration img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}


@media (max-width: 1200px) {
  .tovari_orders{
    grid-template-columns: 1fr 1fr;
  }
  
}
@media (max-width:992px) {
  .tovari_orders {
    grid-template-columns: 1fr;
  }
  .txt2 {
    margin: 0px;
  }
  .txt2 strong {
    margin: 10px;
  }
}
@media (max-width:400px) {
  .card_tovara_orders {
    padding: 0;
    width: 300px;
  }
  .card_tovara_orders .konfi .konfiguration {
    gap: 15px;
    width: 290px;
  }
  .card_tovara_orders .konfi .konfiguration img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
  .txt2 {
    font-size: 15px;
  }
  .card_tovara_orders .konfi {
    align-items: center;
  }
  .card_tovara_orders .name_price_bue {
    padding: 0 10px;
  }
}